.welcome {
  width: 100%;
  height: 100%;
  z-index: 5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  h1 {
    z-index: 2;
    // position: sticky;
    font-size: 2rem;
    // height: 90vh;
    // top: calc(var(--i) * 3rem - 3rem);
    // padding-top: calc(50vh - 6rem);
    text-align: center;
    // background: linear-gradient(to top, var(--color) 70%, transparent);
  }
}
.item {
  margin: 1rem;
  overflow: hidden;
}

@keyframes rotator {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.info {
  text-align: center;
  font-size: 0.75rem;

  display: flex;
  align-items: center;
  filter: brightness(0.5);

  margin: auto;
  width: fit-content;
  z-index: 0;
  svg {
    width: 30px;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;

  backface-visibility: hidden;

  &::after,
  &::before {
    content: "";
    filter: blur(100px);
    // z-index: -1;
    z-index: 15;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation: rotator 5s infinite forwards linear;
    position: absolute;
    top: 0;
  }
  &::after {
    width: 10rem;
    right: 0;
    transform-origin: 0 center;
    background: lightcoral;
  }
  &::before {
    width: 8rem;
    background-color: lightgreen;
    left: 0;
    transform-origin: 100% 100%;
  }
}
