.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: 1rem;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}
