* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-margin: 1rem;
}

html {
  scroll-behavior: smooth;
  font-size: 32px;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 5px;
  }
}
body,
button,
input,
textarea {
  font-family: "Mochiy Pop P One", sans-serif;

  // font-famikly: "Inter", sans-serif;
}
button {
  outline: none;
  border-radius: 5px;
}
button:hover,
input[type="submit"]:hover {
  filter: brightness(0.9);
}
img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
input,
textarea {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}
main {
  max-width: 1500px;
  margin: 0 1rem;
  min-height: 100vh;
}
h1 {
  font-weight: 900;
  color: #fff;
}
body {
  background-color: var(--background);
  color: #c2c2c2;
  overflow-x: hidden;

  // cursor: none;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 24px;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 48px;
  }
}
