.more {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.portfolio_content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;

  @media screen and (max-width: 480px) {
    gap: 2rem;
  }
}

.reach_me {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
