.actions {
  padding: 1rem;
  margin-bottom: 1rem;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 5;
}
.skipper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: transparent solid 2px;

  border: none;

  overflow: hidden;

  // float: right;
  min-width: 60px;
  height: 60px;
  border-radius: 50px;

  transition: all ease 0.2s;
  span {
    padding: 0;
    position: absolute;
    width: 0;
    opacity: 0;
  }

  &:hover,
  &:focus {
    padding: 0.5rem;
    background: var(--background);
    border: #00ff7f solid 2px;

    color: #fff;
    span {
      width: auto;
      opacity: 1;
      position: relative;
    }
  }
  svg {
    width: 40px;
  }
}
