.container {
  min-height: 70vh;
  margin: 3rem auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;

  align-items: center;
  .cover {
    flex: 0.5;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  flex: 1;
  h1 {
    &::first-letter {
      border-bottom: 5px solid var(--primary);
    }
    &::selection {
      background-color: var(--primary-dark);
    }
  }
  small {
    font-size: 0.75rem;
  }
}

.resume {
  padding: 0.5rem;
  font-size: 0.6rem;
  margin-top: 2rem;
  width: fit-content;
  justify-self: flex-end;
  border: 2px solid var(--primary-dark);
  color: #00ff7f;
  background: transparent;
  transition: 0.2s ease all;
  &:hover,
  &:focus {
    background: var(--primary);
    color: #000;
  }
}
