$size: 40px;

.cursor {
  position: absolute;
  z-index: 9999999999;
  transform: translate(-50%, -50%);
  width: $size;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid springgreen;

  pointer-events: none;
}
